%% -*- erlang -*-
%% Config file for bt-application
%%
%%
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -Wall -Wextra -Wswitch-default -Wswitch-enum -fno-common"},
	    {"(darwin)", "CFLAGS", "$CFLAGS -ObjC "},
	    {"(darwin)", "LDFLAGS", "$LDFLAGS -framework IOBluetooth -framework CoreFoundation -framework Foundation"}
	    ]}.

%% first version is a regular port program
{port_specs, [
	      {"priv/bt", 
	       [ "c_src/bt_drv.c",
		 "c_src/bt_lib.c",
		 "c_src/Pipe.c"
	       ]}
	     ]}.

