%% -*- erlang -*-
%% Config file for bt-application
%%
%%
{deps, [ {dthread, ".*", {git, "git@github.com:tonyrog/dthread.git"}}]}.
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -DDLOG_DEFAULT=DLOG_DEBUG -Wall -Wextra -Wswitch-default -Wswitch-enum -fno-common -DNO_ERL_DRIVER -I ../dthread/include"},
	    {"(darwin)", "CFLAGS", "$CFLAGS -ObjC ../dthread/c_src/dlog.o"},
	    {"(darwin)", "LDFLAGS", "$LDFLAGS -framework IOBluetooth -framework CoreFoundation -framework Foundation "},

	    {"(linux)", "LDFLAGS", "$LDFLAGS -lbluetooth ../dthread/c_src/dlog.o"}
	    ]}.

%% first version is a regular port program
{port_specs, [
	      {"(darwin)", "priv/bt", [ "c_src/bt_macos_drv.c",
					"c_src/bt_sub.c"
				      ]},
	      {"(linux)", "priv/bt",  [ "c_src/bt_linux_drv.c",
					"c_src/bt_sub.c",
					"c_src/bt_poll.c"
				      ]}
	     ]}.

